<form  (ngSubmit)="Submit()" #loginForm="ngForm">
  <div class="inputGroup inputGroup1" style="text-align: center">
    <label>Prueba Técnica</label>
  </div>

  <div class="inputGroup inputGroup1">
    <label for="email1">Usuario</label>
    <input type="text" id="user" name="user" [(ngModel)]="usuario" class="form-control" maxlength="256" #name="ngModel" required/>
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert">

  <div *ngIf="name.errors?.['required']">
    Usuario es requerido.
  </div>

</div>
    <span class="indicator"></span>
  </div>
  <div class="inputGroup inputGroup2">
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password" [(ngModel)]="clave" class="form-control" required minlength="8" maxlength="16" #pass="ngModel"
    />
    <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
    class="alert">

  <div *ngIf="pass.errors?.['required']">
    Clave es requerida.
  </div>

</div>
  </div>
  <div class="inputGroup inputGroup3">
    <button id="login" type="submit" >Ingresar
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </button>

  </div>
<!--
  <mat-card *ngIf="mensaje">{{mensaje}}</mat-card>
  <mat-card *ngIf="error">{{error}}</mat-card>
-->
</form>
